.hero {
  background: url("../../../../public/image/overlay.jpg") !important;
  background-size: cover !important;
}
.cust-carrer-banner {
  background: url("../../../../public/image/overlay.jpg") !important;
  background-size: cover !important;
}
.service-bg {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 400px;
  background: url("../../../../public/image/v4541_1777.png") no-repeat center
    center;
  background-size: cover !important;
  opacity: 0.7;
  z-index: 0;
}
.mySwiper .swiper-wrapper {
  transition-timing-function: linear !important; /* 🔹 continuous flow */
}
