<section class="h-[460px] flex items-center justify-center bg-gray-100 hero">
  <div class="container mx-auto text-center transform translate-y-10">
    <h2 class="text-3xl md:text-4xl font-extralight mb-4 text-white">
      Join <span class="text-orange-500 font-bold">Us </span>
    </h2>

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol
        class="flex items-center justify-center font-normal space-x-2 text-white text-sm"
      >
        <li>
          <a href="index.html" class="hover:text-orange-500">Home</a>
        </li>
        <li>
          <i class="fas fa-caret-right text-orange-500"></i>
        </li>
        <li class="text-orange-500 font-medium" aria-current="page">Careers</li>
      </ol>
    </nav>
  </div>
</section>
<section class="py-20 bg-white text-center px-[80px]">
  <!-- Top Section -->
  <div class="mx-auto px-6">
    <p class="uppercase tracking-widest text-sm text-orange-500 font-bold mb-3">
      careers
    </p>
    <h2 class="text font-extralight-3xl md:text-4xl font-light mb-4">
      Looking For
      <span class="font-semibold text-orange-500">Brilliant</span>
      Minds
    </h2>
    <p class="text-gray-500 text-sm md:text-base leading-relaxed font-medium">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry’s standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
  </div>

  <!-- Job Cards -->
  <div class="mt-12 grid grid-cols-1 md:grid-cols-2 gap-8 mx-auto px-6">
    <!-- Card 1 -->
    <div class="p-6 border border-gray-200 rounded-xl shadow-sm text-left">
      <h3 class="text-lg font-medium mb-3">Senior Java Developer</h3>
      <ul
        class="list-disc list-inside font-normal text-gray-600 text-sm space-y-1"
      >
        <li>3+ Years</li>
        <li>BFSI Domain</li>
        <li>Able to join in 30 Days</li>
        <li>
          Details: Spring/Oracle with experience in microservices/enterprise
          grade application, with BFSI is added advantage
        </li>
      </ul>
      <button
        class="mt-6 px-7 py-4 rounded-4xl bg-orange-500 text-white font-medium border border-transparent hover:bg-white hover:text-orange-500 hover:border-orange-500 transition"
      >
        Apply
      </button>
    </div>

    <!-- Card 2 -->
    <div class="p-6 border border-gray-200 rounded-xl shadow-sm text-left">
      <h3 class="text-lg font-semibold mb-3">FLEXCUBE Consultant</h3>
      <ul class="list-disc list-inside text-gray-600 text-sm space-y-1">
        <li>3+ Years</li>
        <li>BFSI Domain</li>
        <li>Able to join in 30 Days</li>
        <li>
          Details: Working knowledge on FLEXCUBE 11.x - 14.x Version CL /
          Upgrade knowledge is added advantage
        </li>
      </ul>
      <button
        class="mt-6 px-7 py-4 rounded-4xl bg-orange-500 text-white font-medium border border-transparent hover:bg-white hover:text-orange-500 hover:border-orange-500 transition"
      >
        Apply
      </button>
    </div>

    <!-- Card 3 -->
    <div class="p-6 border border-gray-200 rounded-xl shadow-sm text-left">
      <h3 class="text-lg font-semibold mb-3">UI Developer</h3>
      <ul class="list-disc list-inside text-gray-600 text-sm space-y-1">
        <li>3+ Years</li>
        <li>BFSI Domain</li>
        <li>Able to join in 30 Days</li>
        <li>
          Details: Angular/React/Vue.js development knowledge, HTML5, CSS3 with
          graphic design using Adobe is added advantage
        </li>
      </ul>
      <button
        class="mt-6 px-7 py-4 rounded-4xl bg-orange-500 text-white font-medium border border-transparent hover:bg-white hover:text-orange-500 hover:border-orange-500 transition"
      >
        Apply
      </button>
    </div>

    <!-- Card 4 -->
    <div class="p-6 border border-gray-200 rounded-xl shadow-sm text-left">
      <h3 class="text-lg font-semibold mb-3">Senior Java Developer</h3>
      <ul class="list-disc list-inside text-gray-600 text-sm space-y-1">
        <li>3+ Years</li>
        <li>BFSI Domain</li>
        <li>Able to join in 30 Days</li>
        <li>
          Details: Spring/Oracle with experience in microservices/enterprise
          grade application, with BFSI is added advantage
        </li>
      </ul>
      <button
        class="mt-6 px-7 py-4 rounded-4xl bg-orange-500 text-white font-medium border border-transparent hover:bg-white hover:text-orange-500 hover:border-orange-500 transition"
      >
        Apply
      </button>
    </div>
  </div>
</section>
